#**Summer Olympics Data Analysis Assignment**

#1. In how many cities Summer Olympics is held so far?

In [ ]:
22

#2. Which sport is having most number of Gold Medals so far? (Top 5)

In [ ]:

     Sport    	Medal
0	  Aquatics	  1421
1	  Athletics	  1215
17  	Rowing	  890
4	  Gymnastics	820
3	  Fencing	    552

#3. Which sport is having most number of medals so far? (Top 5)

In [ ]:
      Sport	      Medal
0	    Aquatics  	4170
1	    Athletics	  3638
17	  Rowing	    2667
4	    Gymnastics	2307
3	    Fencing	    1613

#4. Which player has won most number of medals? (Top 5)

In [ ]:
       Athlete            	Medal
18640	PHELPS, Michael	      22
7197	LATYNINA, Larisa	    18
9948	ANDRIANOV, Nikolay	  15
6591	ONO, Takashi       	  13
5103	MANGIAROTTI, Edoardo	13

#5. Which player has won most number Gold Medals of medals? (Top 5)

In [ ]:
       Athlete	         Medal
6851	PHELPS, Michael	    18


#6. In which year India won first Gold Medal in Summer Olympics?

In [ ]:
Year	
1928

#7. Which event is most popular in terms on number of players? (Top 5)

In [ ]:
Sport	       Athlete
Aquatics    	4170

#8. Which sport is having most female Gold Medalists? (Top 5)

In [ ]:

      Sport	      Medal
4	   Aquatics	    589
7	   Athletics	  389
8  	Gymnastics	  268
14  Rowing	      217
11	Volleyball	  166